#root {
  margin: 0 auto;
  padding: 2rem;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Brand Colors */
.brand-color-1 {
  color: #2745f2;
}
.brand-color-2 {
  color: #4962f2;
}
.brand-color-3 {
  color: #8091f2;
}
.brand-color-4 {
  color: #a3abd9;
}
.brand-color-5 {
  color: #f26444;
}

.appLogo {
  width: 3rem;
  height: 3rem;
  display: flex;
  padding: 0 1rem;
  font-weight: bold;
}

.NavBar {
  display: flex;
  justify-content: flex-start;
  padding: 0 0 0 25px;
  flex-wrap: wrap;
  align-items: center;
  background-color: #535bf2;
}

Footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background-color: #535bf2;
}

.Sidebar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-color: #535bf2;
  padding: 0 75px 0 75px;
  justify-content: space-between;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.taskImg {
height: 25px;
}

.deleteButton {
height: 25px; 
text-align: center;
align-items: center;
background-color: #8091f2;
}